

h1{
    font-size: 24px;
    text-align: center;
}

mat-chip{
    margin: 0px 5px;
}

.info{
    > div{
        > *{
            margin: 20px;
        }
    }
    .map{
        width: 35%;
        img{
            border-radius: 16px;
            width: 100%;
        }
    }
    
    
}

.info::after{
    content: "";
    display: table;
    clear: both;
}

.news{
    display: table;
    width: 100%;
    background-color: gray;
    border-radius: 15px;
    > div{
        
        width: 20%;
        float: left;
        mat-card{
            height: 220px;
            overflow:hidden;
            div{
                height: 150px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            text-align: center;
            margin: 10px 20px;
        }
    }
}

.news::after{
    content: "";
    display: table;
    clear: both;
}



