<section>
    <section class="info">
        <div>
            <h1>Descripcion</h1>
            <mat-card appearance="outlined"><mat-card-content>
                Hello! And welcome to the Los Pollos Hermanos family. My name is Gustavo, but you can call me "Gus". I am thrilled that you'll be joining our team. Each and every day, we serve our customers exceptional food, with impecable service. We take pride in everything that we do. And after this week's online seminar, I'm sure you'll fit right in. I like to think I see things in people. To begin, I'd like to talk about the cornerstone of the Los Pollos Hermanos brand.
            </mat-card-content></mat-card>
        </div>
        <div class="map"><img src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/mapa.png" alt="Mapa"></div>
    </section>
    <div class="data">
        <h1>Datos generales</h1>
        <mat-card appearance="outlined">
            <mat-card-content>
                <div><p>Categorias:
                    <mat-chip>Pollo</mat-chip>
                    <mat-chip>Familiar</mat-chip>
                    <mat-chip>Económico</mat-chip>
                    <mat-chip>Para llevar</mat-chip>
                </p></div>
                <div><p>Horario: <mat-chip>11:00 - 22:00</mat-chip></p></div>
                <div><p>Rango de precios: <mat-chip>$200 - $500</mat-chip></p></div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <section>
        <h1>Noticias y promociones</h1>
        <section class="news">
            <div>
                <mat-card >
                    <div>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-header>Karnes Garibaldi</mat-card-header>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <div>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-header>Karnes Garibaldi</mat-card-header>
                </mat-card>
            </div>

        </section>
    </section>
</section>


