<section>
    <section class="info">
        <div>
            <h1>Descripcion</h1>
            <mat-card appearance="outlined"><mat-card-content>
                {{restaurant?.description}}
            </mat-card-content></mat-card>
        </div>
    </section>
    <div class="data">
        <h1>Datos generales</h1>
        <mat-card appearance="outlined">
            <mat-card-content>
                @if(restaurant?.category){
                <div><p>Categorias:
                    @for (cat of restaurant?.category; track $index) {
                        <mat-chip>{{cat}}</mat-chip>
                    }
                </p></div>
                }
                <!--
                <div><p>Horario: <mat-chip>11:00 - 22:00</mat-chip></p></div>
                -->
                @if (restaurant?.price) {
                    <div><p>Precio aproximado: <mat-chip>{{restaurant?.price}}</mat-chip></p></div>
                }
                
            </mat-card-content>
        </mat-card>
    </div>
    <br>

    <!--
    <section>
        <h1>Noticias y promociones</h1>
        <section class="news">
            <div>
                <mat-card >
                    <div>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-header>Karnes Garibaldi</mat-card-header>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <div>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-header>Karnes Garibaldi</mat-card-header>
                </mat-card>
            </div>

        </section>
    </section>
    -->
</section>


