<section class="Carrusel">
    <img src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/pollos.png" alt="Carrusel">
</section>

<main>
    <section>
        <h1>Pollos hermanos</h1>
        <section  class="Portada">
            <div class="Rating"><h3>Rating: </h3></div>
            <div><div><a href="">Reviews</a></div></div>
            <div><div><a href="">Menú</a></div></div>
        </section>
    </section>
    <br>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>