main{
    margin: 16px 64px;
}

.Carrusel{
    background-color:black;
    img{
        height: 360px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

h1{
    font-size: 50px;
}

.Portada{
    .Rating{
        width: 50%;
        * {
            height: 100%;
            padding: 6px 25px;
            width: fit-content;
        }
    }
    > div {
        text-align: center;
        float: left;
        width: (50% / 3);
    }
}

.Portada::after{
    content: "";
    display: table;
    clear: both;
}