<section class="Carrusel">
    <img src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/pollos.png" alt="Carrusel">
</section>

<main>
    <section>
        <h1>Pollos hermanos</h1>
        <section  class="Portada">
            <div class="Rating">
                <div><mat-card><mat-card-title>Calificación: 4/5 ★★★★☆</mat-card-title></mat-card></div>
            </div>
            <div><div><a mat-fab extended href="restaurant/pollosHermanos" target="_blank">Info</a></div></div>
            <div><div><a mat-fab extended href="restaurant/pollosHermanos/reviews" target="_blank">Reviews</a></div></div>
            <div><div><a mat-fab extended href="" target="_blank">Menú</a></div></div>
        </section>
    </section>
    <br>

    <section>
        <router-outlet></router-outlet> 
    </section>
</main>