<section>
    <!--TODO Logic-->
    <form>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" required>
        </mat-form-field>
    </form>
    <div>
        <a href="/register">Register</a>
    </div>
    <button mat-flat-button color="primary">Login</button>
</section>