<body class="main-container">
    <!-- Contenedor principal del formulario -->
    <section class="form-background">
      <!-- Campo de nombre -->
      <mat-form-field class="name">
        <mat-label>Restaurant Name</mat-label>
        <input matInput [(ngModel)]="restaurant.name" placeholder="Enter the name of the restaurant" />
      </mat-form-field>
  
      <!-- Campo de ubicación -->
      <mat-form-field class="location">
        <mat-label>Location</mat-label>
        <mat-select [(ngModel)]="restaurant.location">
          <mat-option [value]="1">Guadalajara, Jalisco</mat-option>
          <mat-option [value]="2">Zapopan, Jalisco</mat-option>
          <mat-option [value]="3">San Pedro Tlaquepaque, Jalisco</mat-option>
          <mat-option [value]="4">Tlajomulco de Zúñiga, Jalisco</mat-option>
          <mat-option [value]="5">Tonalá, Jalisco</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Campo de descripción -->
      <mat-form-field class="description">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="restaurant.description" placeholder="Enter a brief description"></textarea>
      </mat-form-field>
  
      <!-- Campo de calificación -->
      <mat-form-field class="rating">
        <mat-label>Average Rating</mat-label>
        <input matInput type="number" [(ngModel)]="restaurant.rating" placeholder="Enter the rating (0-5)" />
      </mat-form-field>
  
      <!-- Campo de precio -->
      <mat-form-field class="price">
        <mat-label>Average Price</mat-label>
        <input matInput type="number" [(ngModel)]="restaurant.price" placeholder="Enter the average price" />
      </mat-form-field>
  
      <!-- Campo de categoría -->
      <mat-form-field class="location">
        <mat-label>categories</mat-label>
        <mat-select>
          @for (c of categories; track $index) {
            <mat-checkbox (change)="onCheckboxChange($event, c.category)">{{c.category}}</mat-checkbox>
          }
          <mat-option>Confirmar</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Input de archivo para imagen -->
      <input
        id="fileInput"
        type="file"
        class="hidden-input"
        (change)="onFileSelected($event)"
      />
  
      <!-- Botón para seleccionar archivo -->
      <button mat-stroked-button class="button" (click)="triggerFileInput()">Select Image</button>
      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
  
      <!-- Botones de acción -->
      <section class="button-container">
        <button mat-flat-button class="button" routerLink="..">Cancel</button>
        <button mat-stroked-button class="button" (click)="onConfirm()">Confirm</button>
      </section>
    </section>
  </body>
  