<section>
    <h1>Trending</h1>
    <div class="cards">
        @for (restaurant of trending; track $index) {
        <mat-card appearance="outlined" routerLink="search">
            <!-- TODO Make the card an anchor-->
            <img mat-card-image src={{restaurant.image}}>
            <mat-card-content>
                <p>
                    {{restaurant.name}}
                </p>
            </mat-card-content>
        </mat-card>
        }
    </div>
</section>
<section>
    <h1>Top 10</h1>
    <mat-list role="list">
        @for (restaurant of top10; track $index) {
        <div class="list-item-container">
            <b>#{{$index + 1}}</b>
            <mat-list-item role="listitem"><a href="restaurantPage.com">{{restaurant.name}}</a></mat-list-item>
        </div>
        }
    </mat-list>
</section>