<section>
    <h1>Trending</h1>
    <div class="cards">
        <!--Load Cards after get @for-->
        <mat-card appearance="outlined">
            <!-- TODO Make the card an anchor-->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>
<section>
    <h1>Recently Visited</h1>
    <!--TODO ask whats the best way to implement this
    if they are in the db just get the 6 more recent on the ts
    -->
    <div class="cards">
        <!--Load Cards after get @for-->
        <mat-card appearance="outlined">
            <!-- TODO Make the card an anchor-->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Restaurant
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>
<section>
    <h1>Top 10</h1>
    <!--TODO Draw dynamically after request
    add image maybe /rating/location/etc
    -->
    <mat-list role="list">
        <div class="list-item-container">
            <b>#1</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 1</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#2</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 2</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#3</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 3</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#4</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 4</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#5</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 5</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#6</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 6</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#7</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 7</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#8</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 8</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#9</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 9</a></mat-list-item>
        </div>
        <div class="list-item-container">
            <b>#10</b>
            <mat-list-item role="listitem"><a href="itemPage.com">Item 10</a></mat-list-item>
        </div>
    </mat-list>
</section>