<section class="title">
    <h2>My Restaurant List</h2>
</section>

        <section class="tab-content">
            @for (restaurant of restaurantList; track $index) {
                <mat-card class="restaurant-card">
                    <section class="card-row">
                        <!-- Imagen a la izquierda -->
                        <img src="{{restaurant.image}}"
                            alt="Establishment Image" class="restaurant-image">
    
                        <!-- Nombre del restaurante a la derecha de la imagen -->
                        <section class="restaurant-details">
                            <p class="restaurant-name">{{restaurant.name}}</p>
                        </section>
    
                        <!-- Puntaje y tipo de comida al extremo derecho -->
                        <section class="restaurant-info">
                            <p>{{userList[$index]['score']}}</p>
                        </section>
                    </section>
                </mat-card>
            }
        </section>
            
