
.small-image {
    background-size: cover;
}

.comments {
    margin: 0px 60px;
}

mat-card{
    margin: 15px 0px;
    mat-card-header{
        border-radius: 11px;
        background-color:rgb(121, 73, 28);
        margin-bottom: 10px;
    }
}