<section class="inputArea">
    @if(userReviwed){
    <mat-card>
        <mat-card-content>
            <h2>You have already reviewed this restaurant</h2>
        </mat-card-content>
    </mat-card>
    }
    @else {

    <form [formGroup]="form" (ngSubmit)="submitComment()" #commentForm="ngForm">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput id="commentText" formControlName="comment" placeholder="Write your comment"></textarea>
        </mat-form-field>

        <div>
            @for(star of stars; track $index) {
            <span id="starSelector" (click)="selectRating($index + 1)" [class.filled]="$index < rating"> {{ $index <
                    rating ? '★' : '☆' }} </span>
                    }
        </div>

        <button id="formButton" mat-flat-button color="primary" [disabled]="form.invalid">Comentar</button>
    </form>
    }
</section>

<section class="reviews">
    @for (review of reviewList; track $index) {
    <mat-card appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="small-image"
                style="background-image: url(https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/bee.jpg);">
            </div>
            <div class="card-header-content">
                <mat-card-title>{{ review['user']['name'] }}</mat-card-title>
                <mat-card-subtitle>
                    @for(star of stars; track $index) {
                    {{ $index < review['_doc']['rating'] ? '★' : '☆' }} } </mat-card-subtitle>
            </div>
            @if(review['user']['_id'] == userId) {

            <div class="header-actions">
                <button mat-icon-button (click)="toggleEditReview(review)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteReview(review['_doc']['_id'])">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            }
        </mat-card-header>
        @if(review.isEditing){
        <form [formGroup]="form" (ngSubmit)="editReview(review['_doc']['_id'])" #commentForm="ngForm">
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput id="commentText" formControlName="comment"></textarea>
            </mat-form-field>

            <div>
                @for(star of stars; track $index) {
                <span id="starSelector" (click)="selectRating($index + 1)" [class.filled]="$index < rating"> {{ $index <
                        rating ? '★' : '☆' }} </span>
                        }
            </div>

            <button id="formButton" mat-flat-button color="primary" [disabled]="form.invalid">Comentar</button>
        </form>
        }
        @else {
        <mat-card-content>{{ review['_doc']['content'] }}</mat-card-content>
        }
    </mat-card>
    }

</section>