
<section class="search">
    <mat-tab-group>
        <mat-tab label="Categoria"> 
            <div>
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select>
                        <mat-option value="option1">Vegetariana</mat-option>
                        <mat-option value="option2">Buffet</mat-option>
                        <mat-option value="option3">Mariscos</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Horario"> 
            <div> 
                Hora inicio y fin 
                <mat-slider min="0" max="24">
                    <input value="13" matSliderStartThumb>
                    <input value="18" matSliderEndThumb>
                </mat-slider>
            </div>
        </mat-tab>
        <mat-tab label="Ubicacion"> 
            <div>
                <mat-form-field>
                    <mat-label>Municipio</mat-label>
                    <mat-select>
                        <mat-option value="option1">Guadalajara</mat-option>
                        <mat-option value="option2">Tlaquepauqe</mat-option>
                        <mat-option value="option3">Zapopan</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Precios"> 
            <div> 
                Rango de precios
                <mat-slider min="0" max="24">
                    <input value="13" matSliderStartThumb>
                    <input value="18" matSliderEndThumb>
                </mat-slider>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>


<main>
    <section class="results">

        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Karnes Garibaldi</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/card0.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Otro negocio</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Karnes Garibaldi</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/card0.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Otro negocio</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Karnes Garibaldi</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined">
                <div>
                    <img mat-card-image src="https://raw.githubusercontent.com/YANDR0/images/refs/heads/main/assets/card0.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>Otro negocio</mat-card-header>
                <mat-card-actions>
                    <button mat-button>Más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        


    </section>
    <br>
</main>
