<section class="search">

    
    <form class="search-form">
        <mat-form-field class="example-full-width">
            <mat-label>Restaurant</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput [(ngModel)]="keyword" name="search" />
        </mat-form-field>
    </form>
    

    <mat-tab-group>
        <mat-tab label="Categoria">
            <div>
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)] = "category">
                        @for (cat of categories; track $index) {
                            <mat-option value="{{cat.category}}">{{cat.category}}</mat-option>
                        }
                        <mat-option value="">Ninguno</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Ubicación">
            <div>
                <mat-form-field>
                    <mat-label>Municipio</mat-label>
                    <mat-select [(ngModel)] = "ubication">
                        <mat-option value="1">Guadalajara, Jalisco</mat-option>
                        <mat-option value="2">Zapopan, Jalisco</mat-option>
                        <mat-option value="3">San Pedro Tlaquepaque, Jalisco</mat-option>
                        <mat-option value="4">Tlajomulco de Zúñiga, Jalisco</mat-option>
                        <mat-option value="5">Tonalá, Jalisco</mat-option>
                        <mat-option value="">Ninguno</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Calificación">
            <div>
                <mat-slider min="0" max="5">
                    <input matSliderStartThumb [(ngModel)] = "minScore">
                    <input matSliderEndThumb [(ngModel)] = "maxScore">
                </mat-slider>
                {{minScore}} - {{maxScore}} ★
            </div>
        </mat-tab>
        <mat-tab label="Rango de precios">
            <div>
                <mat-slider min="0" max="1000">
                    <input matSliderStartThumb [(ngModel)] = "minCost">
                    <input matSliderEndThumb [(ngModel)] = "maxCost">
                </mat-slider>
                ${{minCost}} - ${{maxCost}}
            </div>
        </mat-tab>
    </mat-tab-group>
    <div>
        <button mat-flat-button (click)="filterRestaurants()">Aplicar filtros</button>
        <button mat-stroked-button (click)="resetValues()">Reiniciar</button>
    </div>
</section>


<main>
    <section class="results">
        <ng-container *ngIf="search; else noFilteredRestaurants">
            <div *ngFor="let restaurant of filteredRestaurants;">
                <mat-card appearance="outlined">
                    <div>
                        <img mat-card-image [src]="restaurant.image" alt="Photo of {{ restaurant.name }}">
                    </div>
                    <mat-card-header>{{ restaurant.name }}</mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="changePage(restaurant._id)">Más</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>

        <ng-template #noFilteredRestaurants>
            <ng-container>
                <div *ngFor="let restaurant of restaurants;">
                    <mat-card appearance="outlined">
                        <div>
                            <img mat-card-image [src]="restaurant.image" alt="Photo of {{ restaurant.name }}">
                        </div>
                        <mat-card-header>{{ restaurant.name }}</mat-card-header>
                        <mat-card-actions>
                            <button mat-button (click)="changePage(restaurant._id)">Más</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </ng-container>
        </ng-template>
    </section>

</main>