<section>
    <!--TODO Logic-->
    <form>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input matInput type="password" name="repeatPassword" required>
        </mat-form-field>
    </form>
    <div>
        <a href="/login">Log in</a>
    </div>
    <button mat-flat-button disabled>Sing Up</button>
</section>